@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Poppins", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;

  margin: 64px;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  padding: 64px;
}

.perfil {
  display: flex;
  align-items: center;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil-foto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 460px;
  max-height: 160px;
}

.titulo {
  margin-left: 20px;
  line-height: 24px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  font: "Poppins", sans-serif;
  align-self: flex-end;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px;
  background: #ecf4ff;
  border: 2px solid #0e1d2f;
  box-sizing: border-box;
  border-radius: 100px;
}

.projetos {
  background: #002e4d;
  margin: 16px;
  margin-top: 34px;
  padding: 24px;
  color: #ecf4ff;
  line-height: 32px;
  /*   box-shadow: 2px 2px 2px #0e1d2f; */
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.pjTitulo {
  font-size: 36px;
  line-height: 50px;
}

.projetos-item {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

.projetos-item a {
  font-size: 16px;
  text-decoration: none;
}

/* .dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333333;
  color: #f6f6f6;
}

.dark .projetos {
  color: #b3b3b3;
}

.dark .tema button {
  background-color: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}
 */